@import url("./reset.css");
@import url("./input.css");
@import url("./select.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.create_request, .auth_form, .reg_form, .create-makeup_artist, .create-tamada {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    background-color: cadetblue;
    padding: 30px;
}
.create_request_item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.open-close::before {
    content: '+';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    cursor: pointer;
}
.open-close.closed::before {
    content: '-';
}
.button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: darkseagreen;
    color: #fff;
    cursor: pointer;
}
.button:hover {
    background-color: darkslategray;
}
.requests {
    padding: 15px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.request {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: bisque;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}